body {
    background-image: url(../img/background.jpg); 
    background-repeat: no-repeat;
    background-size: cover;
    font-family: times;
    font-size: 18px;
}

header {
    display: block;
    background-image: linear-gradient(to right, black, #DF0101, #1C1C1C);
}

.logo {    
    width: 200px;
    margin: auto;
    display: block;
}

main {
    background-color: whitesmoke;
    background-blend-mode: darken;
    margin-left: 7%;
    margin-right: 7%;
    padding-left: 4%;
    padding-right: 4%;
    padding-top: 2%;
    padding-bottom: 2%;
    color: black;
    text-indent: justify;
}

p {
    text-align: justify
}

h1 {    
    text-align: center;
    font-family: fantasy;
    font-size: 48px;
}

h2 {    
    font-family: fantasy;
    font-size: 40px;
}

h3 {    
    font-family: fantasy;
    font-size: 36px;
}

.step {
    display: block;
    background-color: lightgray;
    box-shadow: 5px 5px 5px gray; 
    padding-right: 20px;
    padding-left: 20px;
    padding-top: 10px;
    padding-bottom: 20px;    
    text-indent: justify;
}

.step .number{    
    font-family: fantasy;
    font-size: 32px;
    padding-right: 10px;
    padding-left: 10px;
    margin-right: 2px;
    background-image: linear-gradient(black, #585858);
    color: white;
}

.step .title {
    margin-right: 2px;
    display: inline-block;
    font-size: 28px;
}

.note {    
    opacity: 0.7;
}

.centralized {
	margin: auto;
	display: block;
	text-align: center;
}

ul {
	text-align:inherit;
	display: block;
	list-style-image: url(../img/shuriken.png);
}

li {
	text-align:inherit;
	padding-bottom: 3px;
	padding-top: 3px;
}

.separate{
	padding-top: 20px;
	margin: auto;
	width: 1000px;
	display: block;
}

iframe {    
    margin: auto;
    display: block;
}

img:not(.logo):not(.separate){    
    margin: auto;
    display: block;
    border-radius: 50%;
    box-shadow: 5px 5px 5px black;    
}

a:link {
	color: dodgerblue;
}

a:active {
	color: lawngreen;
}

a:hover {
	color: greenyellow;
}

a:visited {
	color: midnightblue;
}